<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/solid.css" integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/brands.css" integrity="sha384-V5Z1KgRRJyY878qCx7+zUeTDm0FgjoYrbmSortFqRPGz+Ue6XDe4uIiMqB3tB/wd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs SMLL API</title>
</head>
<body>
  <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/docs">Documentation</a>
      <a href="/getapi">Get API KEY</a>
      <a href="https://marioprieto.com">Made by Mario Prieto</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="s003">
      <section class="section">
        <div class="content">
          <h1>URL Shortener Documentation</h1>
          <p>This is the official documentation of the URL Shortener application d
            eveloped by Mario Prieto Sanlés. This application will help anyone who wants to shorten a URL without having to register at any time.</p>
          <h2>Services</h2>
          <p>
            There are different services that can be accessed from this web application. Some can be used without having any existing account created in this application and to use others, an active registered account is required.</p>
          <ul>
            <li>Short URL</li>
            <li>Short URL via API CALLS</li>
            <li>Short URL with custom text</li>
            <li>Check how many times a URL shorted have been used</li>
          </ul>
          <h3>Short URL</h3>
          <p>Siguiendo estos pasos aprenderás a cómo acortar una URL desde esta aplicación. Para ello debes seguir los siguientes pasos.</p>
        </div>
      </section>
    </div>
    
</body>
</html>